/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant

# python html作成ファイル
app/Http/Controllers/python/acquired_data/
app/Http/Controllers/python/different/
app/Http/Controllers/python/test_server/

